# =========================
# APPLICATION CONFIG
# =========================

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5023

# =========================
# DATABASE CONFIG
# =========================

# SQLite connection string
CONNECTION_STRING=Data Source=app.db

# =========================
# LOGGING
# =========================

LOG_LEVEL=Information
